@tailwind base;
@tailwind components;
@tailwind utilities;

/* style.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
html,
body,
#app {
  height: 100%;
}
